<div class="container">
<h1>Tiến độ công việc</h1>

<table style="border: 1px solid black">
    <tr>
        <th style="width:45%">Nội dung</th>
        <th style="width:10%">Trạng thái công việc</th>
        <th style="width:15%">Ghi chú</th>
        <th style="width:10%">Ngày giao</th>
        <th style="width:10%">Ngày hoàn thành</th>
        <th style="width:10%">Submit</th>
    </tr>
    <tr style="height: 25px">
        <td style="text-align:left;width:45%;padding-left: 10px">Làm báo cáo.........</td>
        <td style="width:10%">
            <select>
                <option value="">Lựa chọn tiến độ công việc......</option>
                <option value="">Chưa thực hiện</option>
                <option value="">Đang thực hiện</option>
                <option value="">Đã hoàn thành</option>
            </select>
        </td>
        <td style="width:15%">
            <input type="text" style="border:none">
        </td>
        <td style="width:10%">01/05/2023</td>
        <td style="width:10%">15/05/2023</td>
        <td style="width:10%">
            <button type="button" class="btn btn-primary">Gửi</button>
        </td>
    </tr>
</table>
</div>