<div class="container">
    <div class="joblist">
        <div class="info-staff">
            <div class="row">
                <div class="col-5">Thông tin nhân sự</div>
            </div>
        </div>
        <div class="table_userlistjob" >
            <div class="row table_title" >
                <div class="col-lg-5 col-sm-5 ">
                    <p>Nội dung báo cáo</p>
                </div>
                <div class="col-lg-2 col-sm-2 ">
                    <p>Trạng thái</p>
                </div>
                <div class="col-lg-2 col-sm-2 ">
                    <p>Ghi chú</p>
                </div>
                <div class="col-lg-1 col-sm-1 ">
                    <p>Bắt đầu</p>
                </div>
                <div class="col-lg-1 col-sm-1 ">
                    <p>Hoàn thành</p>
                </div>
                <div class="col-lg-1 col-sm-1">
                    <p>Gửi đi</p>
                </div>
            </div>
            <div class="row table_row" >
                <div class="col-lg-5 col-sm-5 ">
                    <p>Hoàn thiện báo cáo ngày</p>
                </div>
                <div class="col-lg-2 col-sm-2 ">
                    <select name="" id="">
                        <option value="">Lựa chọn trạng thái.....</option>
                        <option value="">Chưa thực hiện</option>
                        <option value="">Đang thực hiện</option>
                        <option value="">Hoàn thành</option>
                    </select>
                </div>
                <div class="col-lg-2 col-sm-2 ">
                    <input type="text" name="" id="" class="inputnote" placeholder="Ghi chú........">
                    {{!-- <textarea name="" id="" cols="" rows="" class="inputnote"></textarea> --}}
                </div>
                <div class="col-lg-1 col-sm-1 ">
                    <p>01/05/2023</p>
                </div>
                <div class="col-lg-1 col-sm-1 ">
                    <p>31/05/2023</p>
                </div>
                <div class="col-lg-1 col-sm-1">
                    <button type="button" class="btn btn-primary btn-baocao">Gửi</button>
                </div>
            </div>
            
        </div>
    </div>
</div>