<div class="info-staff">
    <div class="row">
            <div class="col-5 info-staff-row-title">
            <p>Thông tin nhân sự</p>
        </div>       
    </div>
    <div class="row">
        <div class="col-5 info-staff-row">
            <div class="row">
                <div class="col-5">
                    <p>Họ và tên</p>
                </div>
                <div class="col-7">
                    <p><%= staff.Name %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Mã nhân viên</p>
                </div>
                <div class="col-7">
                    <p><%= staff.id %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Email</p>
                </div>
                <div class="col-7">
                    <p><%= staff.email %></p>
                </div>
            </div>
            <div class="row">
                <div class="col-5">
                    <p>Phòng ban</p>
                </div>
                <div class="col-7">
                    <p><%= staff.teamCode %></p>
                </div>
            </div>
        </div>
    </div>
    
</div>