<header class="header">
    <div class="container">
      <div class="row">
        <div class="col-lg-3">
          <a href="">Phòng tài chính kế toán</a>
        </div>
        <div class="col-lg-5">
          <div class="row">
             <div class="col-lg-4" id="nav">
                  <a href="">
                    Báo cáo
                    <i class="fa-solid fa-caret-down"></i>
                  </a>
                  <ul class="subnav">
                    <li><a href="">Báo cáo hàng ngày</a></li>
                    <li><a href="">Báo cáo theo tháng</a></li>
                  </ul>
              </div>
              <div class="col-lg-4" id="nav">
                  <a href="">
                    Công việc
                    <i class="fa-solid fa-caret-down"></i>
                  </a>
              </div>
              <div class="col-lg-4" id="nav">
                  <a href="">
                    Nội bộ
                    <i class="fa-solid fa-caret-down"></i>
                  </a>
              </div>
          </div>
        </div>
        <div class="col-lg-2">
  
              </div>
              <div class="col-lg-2">
                <a href="">UserName</a>
                <i class="fa-regular fa-user"></i>
              </div>
      
      </div>
    </div>
</header>